/* Could be useful? */
:root {
  --text-stroke-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  --gold: #aa6c39 !important;
  --gold-hover: #aa6c39 !important;
  --button-remove: #808080 !important;
  --button-cancel: var(--button-remove);
  --button-remove-hover: #373737 !important;
  --button-cancel-hover: var(--button-remove-hover);
}

/*
 * See https://stackoverflow.com/a/25825731
 * on styling buttons
 */
.file-upload-container {
  background-color: #D4AF37 !important;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  /* font-family: Arial; */
  padding: 10px;
  color: white;
  cursor: pointer;
  transition: background-color .2s ease-in;
}

.file-upload-container:after {
  content: '⬆ Upload EPUB File';
}

.file-upload-container:hover {
  background-color: #996515 !important;
}

/*
 * Added when a file is dragged onto the body of the
 * index.html.
 */
.file-upload-file-is-hovered {
  background-color: #28A745 !important;

}

.file-upload-file-is-hovered:after {
  content: '⬆ Drop EPUB File Here';
}

/*
 * Hides the actual file upload button so we can style
 * file-upload-container instead
 */
input[type="file"] {
  display: none;
}

/*

/* MODALS https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 200px;
  padding-bottom: 200px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  font-family: 'Arial', 'sans-serif';
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  border-radius: 5px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.modal-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 20px 16px;
  background-color: #5cb85c;
  border-radius: 5px 5px 0 0;
  color: white;
}

.modal-body {
  background-color: #fefefe;
  padding: 20px 16px;
}

.modal-footer {
  padding: 20px 16px;
  background-color: #5cb85c;
  border-radius: 0 0 5px 5px;
  color: white;
}

/*
 * Alternate class for modal-header and modal-footer
 * in case of a warning or error.
 */
.modal-warning {
  /* background-color: #F02C2C; */
  background-color: #D0312D;
}

/*
 * Displaying buttons here so we use flex to make it neater
 */
.modal-footer.modal-warning {
  display: flex;
  flex: 1;
  justify-content: center;
}

.modal-footer.modal-footer-flex {
  display: flex;
  /* flex: 1; */
  justify-content: center;
  align-content: center;
}

.modal-button {
  background-color: var(--gold);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  padding: 7.5px 15px;
  color: white;
  cursor: pointer;
  transition: background-color .2s ease-in;
  font-size: 1.2em;
  margin: 0px 10px;
  flex: 0 0 calc(50% - 10px);
}

.modal-button:hover {
  background-color: var(--gold-hover);
}

/*
 * Used in:
 * Remove all highlights, remove all bookmarks
 * remove book, reset Library
 */
.modal-button-remove {
  background-color: var(--button-remove);
}

.modal-button-remove:hover {
  background-color: var(--button-remove-hover);
}

/* .modal-button-yes { */
/**/
/* } */

.modal-button-cancel {
  background-color: var(--button-cancel);
}

.modal-button-cancel:hover {
  background-color: var(--button-cancel-hover);
}

#modal-book-title {
  font-weight: bold;
}

/*
 * Styles the library div
 */

.library-book {}

/* Styles the library book name */
.library-book-title {
  color: red;
  cursor: pointer;
}

.library-book-author {
  color: blue;
  cursor: pointer;
}

/*
 * Book cover display in the Library div
 */
.library-book-cover {
  height: 15%;
  width: 15%;
  cursor: pointer;
}

.library-book-category-button {
  border: 1px solid magenta;
  cursor: pointer;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  /* font-family: Arial; */
  padding: 10px;
  color: black;
  transition: background-color .2s ease-in;
}

.library-book-category-button:hover {
  background-color: #D4AF37;
  cursor: pointer;
}


.library-book-remove-button {
  border: 1px solid cyan;
  cursor: pointer;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  /* font-family: Arial; */
  padding: 10px;
  color: black;
  transition: background-color .2s ease-in;
}

.library-book-remove-button:hover {
  background-color: #D4AF37;
  cursor: pointer;
}

.metadata-container {
  /* The list display breaks so here is a workaround */
  list-style-type: none;
}

.icon-bar {
  width: 100%;
  /* Full-width */
  background-color: #D4AF37;
  overflow: auto;
  /* Overflow due to float */
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  display: inline;
  padding: 10px 10px;
  padding-right: 85px;
  padding-left: 85px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
  transition: background-color .2s ease-in;

}

/* Add a dark gold background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #996515;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

select {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  padding: 1em 1em;
  border: 0;
}

.TOC {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  font-size: 95%;
  padding: 20px;
  width: auto;
}

.toc_title {
  font-weight: 700;
  text-align: center;
}

.viewMode {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  font-size: 95%;
  padding: 20px;
  width: auto;
}

.viewMode_title {
  font-weight: 700;
  text-align: center;
}

.themes {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  font-size: 95%;
  padding: 20px;
  width: auto;
}

.themes_title {
  font-weight: 700;
  text-align: center;
}

.fonts {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  font-size: 95%;
  padding: 20px;
  width: auto;
}

.fonts_title {
  font-weight: 700;
  text-align: center;
}

.page-count {
  align-self: center;
  padding-left: 10%;
}