:root {
  --text-stroke-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

body {
  min-height: 100vh; /* See https://www.freecodecamp.org/news/html-page-width-height/ */
  /* background-color: #333; */
}

/* #viewer > iframe { */
/*   color: blue; */
/*   text-decoration: inherit; */
/*   /* Turns off the red highlight on hover */
/*   /* inside the book */
/* } */

/*
 * See https://stackoverflow.com/a/25825731
 * on styling buttons
 * TODO: Probably add an animation when switching classes
 */
.file-upload-container {
  background-color: #007bff !important;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  font-family: Arial;
  padding: 10px;
  color: white;
  cursor: pointer;
  transition: background-color .2s ease-in;
}

.file-upload-container:after {
  content: '⬆ Upload EPUB File';
}

.file-upload-container:hover {
  background-color: #1459A3 !important;
}

/*
 * Added when a file is dragged onto the body of the
 * index.html.
 */
.file-upload-file-is-hovered {
  background-color: #28A745 !important;

}

.file-upload-file-is-hovered:after {
  content: '⬆ Drop EPUB File Here';
}

/*
 * Hides the actual file upload button so we can style
 * file-upload-container instead
 */
input[type="file"] {
    display: none;
}

/* NOTE: Not needed */
.drop-zone {
  color: red;
  position: fixed;
  height: 95%;
  width: 95%;
  margin: 0;
  border-style: solid;
  border-width: 1px;
  pointer-events: none; /* Makes it unclickable */
  /* min-width: 100%; */
  z-index: 0;
}

/*
 * FIXME: Tried to make this work with Toastify.js. Doesn't work
 * So you must style the toasts inside the js.
 */
/* .modal { */
/*   background-color: red; */
/*   color: red; */
/*   font-family: "Arial", "sans-serif"; */
/* } */

/* #viewer { */
/*   width: 400px; */
/*   height: 100vh; */
/*   margin: 0 auto; */
/* } */

/* MODALS https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-family: 'Arial', 'sans-serif';
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.modal-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

