section{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container h1{
    color: white;
    font-size: 52px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    
}

.accordion-item{
    background-color: #15133C;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);
}

.accordion-link{
    font-size: 1.6rem;
    color: #F1EEE9;
    text-decoration: none;
    background-color: #15133C;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link i{
    color: #F1EEE9;
    padding: .5rem;
}

.accordion-link .fa-minus{
    display: none;
}

.answer{
    max-height:  0;
    overflow: hidden;
    position: relative;
    background-color: #F1EEE9;
    transition: max-height 650ms;
}

.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #73777B;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p{
    color: #15133C;
    font-size: 1.4rem;
    padding: 2rem;
}

.accordion-item:target .answer{
    max-height: 20rem;
}

.accordion-item:target .accordion-link .fa-plus{
    display: none;
}

.accordion-item:target .accordion-link .fa-minus{
    display: block;
}