/*
 * TODO: Tweak sample themes
 */
.Dark {
	background: #000;
	color: #fff
}

.Dark::hover {
  color: cyan;
  text-decoration: none;
}

.Light {
	background: #fff;
	color: #000;
}

.Tan {
	background: tan;
	color: #ccc;
}
